hostname = testflight.apple.com

^https?:\/\/testflight\.apple\.com\/v3\/accounts\/.*\/apps$ url script-request-header https://raw.githubusercontent.com/GenzPN-Company-Limited/GenzPN-Proxy/main/Quantumult_X/Testflight/TF_Key.js
^https?:\/\/testflight\.apple\.com\/join\/(.*)$ url script-request-header https://raw.githubusercontent.com/GenzPN-Company-Limited/GenzPN-Proxy/main/Quantumult_X/Testflight/TF_Key.js