shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Yotube Premium
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Testflight BoxJS
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=TrueCaller