shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Yotube Premium
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Picsart
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=RNI Films và RNI Aero
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=TrueCaller
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Wink