shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Phiên bản đầu tiên
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Hãy cập nhật cấu hình
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=26/07/2024