shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Phiên bản : 1.0.1
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=Hãy cập nhật cấu hình
shadowsocks=example.com:80, method=chacha20, password=pwd, tag=30/07/2024